/* fonts */

@font-face {
  font-family: "norsebold";
  src: url("./fonts/norse-bold-webfont.woff2") format("woff2"),
    url("./fonts/norse-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* basic resetting */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* elements styles */
body {
  display: flex;
  min-height: 100vh;
}

.img-container {
  flex: 0 0 40%;
  background-image: url("./bg-image\ |\ Halie\ West.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.logo-container {
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 125px;
}

.logo-container > .logo {
  height: 100px;
  display: inline-block;
}

.logo-container > span {
  color: white;
  font-family: "norsebold";
  font-size: 78px;
}

.img-container > p {
  color: white;
  text-align: center;
  margin-top: auto;
  font-family: "Times New Roman", Times, serif;
}

.img-container > p > a {
  color: inherit;
}

.right-container {
  display: flex;
  flex-direction: column;
}

.right-container > * {
  flex: 0;
}

.right-container > *:not(.form-container) {
  margin-left: 30px;
}

.right-container > .heading {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding-right: 220px;
  font-size: 18px;
  margin-top: 80px;
  font-weight: 600;
}

.form-container {
  padding: 10px 0 25px 30px;
  margin-top: 35px;
  box-shadow: 0 3px 5px rgb(184, 177, 177);
}

.form-container p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  font-weight: 500;
}

form {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  column-gap: 30px;
  row-gap: 10px;
}

form > span {
  flex: 0 0 20%;
  display: flex;
  flex-direction: column;
  gap: 0px;
}

form > span * {
  flex: 0;
}

form > span > label {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-size: 10px;
  font-weight: 100;
  letter-spacing: 1px;
}

input {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 8px;
  font-size: 14px;
  appearance: none;
  height: 25px;
  width: 250px;
  border: 1px solid #e5e7eb;

  &:focus {
    outline: none;
    border: 1px solid blue;
  }

  &:invalid:not(:focus) {
    border: 1px solid red;
  }

  &[type='password']:invalid + span::before {
    content: '*Passwords do not match';
    color: red;
    font-size: 12px;
  }
}

.create-btn {
  border: unset;
  width: 200px;
  border-radius: 5px;
  margin: 20px auto 20px auto;
  padding: 0.5em 1.2em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  background-color: #596d48;
  color: white;
}

button+p {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  font-weight: 500;

  &>a{
    color: #596d48;
    text-decoration: none;
  }
}
